<section class="skills">
        <div class="skill-text">
            <h1>Skills e Soft Skills</h1>
        </div>
        <div class="skills-badges">
            <ul>
            <li>
                <p>HTML</p>
                <img src="assets/img/skills-badges/html-5.png" alt="" />
            </li>
            <li>
                <p>CSS3</p>
                <img src="assets/img/skills-badges/css-3.png" alt="" />
            </li>
            <li>
                <p>JavaScript</p>
                <img src="assets/img/skills-badges/js.png" alt="" />
            </li>
            <li>
                <p>typescript</p>
                <img src="assets/img/skills-badges/typescript.png" alt="" />
            </li>
            <li>
                <p>Node.js</p>
                <img src="assets/img/skills-badges/node-js.png" alt="" />
            </li>
            <li>
                <p>Git</p>
                <img src="assets/img/skills-badges/icons8-git-144.png" alt="" />
            </li>
            <li>
                <p>Github</p>
                <img src="assets/img/skills-badges/github.png" alt="" />
            </li>
            <li>
                <p>Angular.js</p>
                <img src="assets/img/skills-badges/icons8-angular-144.png" alt="" />
            </li>
            <li>
                <p>BootStrap</p>
                <img
                src="assets/img/skills-badges/icons8-bootstrap-144.png"
                alt=""
                />
            </li>
            <li>
                <p>Visual Code</p>
                <img
                src="assets/img/skills-badges/icons8-visual-studio-code-2019-144.png"
                alt=""
                />
            </li>
            <li>
                <p>Oranização</p>
                <img src="assets/img/skills-badges/icons8-à-fazer-100.png" alt="" />
            </li>
            </ul>
        </div>
</section>
