<main class="apresentacao">
    <div class="apresentacao-text">
        <div class="text-apresentacao">
            <h1>Olá! Meu nome é Hilton sou Front-end Developer.</h1>
            <p>Formado em Gestão em tecnologia da informação, com foco em Javascrip e Angular e estou pariticipando no Projetos Oracle One da Alura, aprendendo as principais metodologias e tecnologias do mercado de trabalho atual.</p>

        </div>
        <div class="links-apresentacao">
           <ul>
            <li><a href="#">Github</a></li>
            <li><a href="#">LinkedIn</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Curriculo</a></li>
           </ul>
        </div>
        <div class="sobre-mim">
            <h1>Sobre mim:</h1>
            <p>Como um indivíduo curioso e apaixonado por explorar novos horizontes, tenho trilhado um caminho de constante aprendizado e crescimento. Minha jornada como um entusiasta da tecnologia me levou a abraçar o papel de um desenvolvedor Front-end, onde minha expertise em HTML, CSS e JavaScript se entrelaça com minha habilidade em aplicar metodologias ágeis e utilizar ferramentas de design como o Figma.</p>
            <p>Estou comprometido com uma transição de carreira que não apenas me desafie, mas também me inspire a alcançar novos patamares de excelência. Com uma mente aberta e uma paixão incessante por inovação, estou ansioso para enfrentar os desafios que estão por vir e contribuir de forma significativa para o mundo digital em constante evolução.</p>
        </div>
        

    </div>
    <div class="apresentacao-img">
        <img src="assets/img/hilton-jr.jpeg" alt="">
    </div>
</main>
