<section class="hobbies">
        <div class="hobbies-text">
            <h1>Hobbies</h1>
        </div>
                <div class="hobbies-badges">
                    <ul>
                            <li>
                                <p>Tecnologia</p>
                                <img src="assets/img/hobbies-badges/informatica.gif" alt="" />
                            </li>
                            <li>
                                <p>Games</p>
                                <img src="assets/img/hobbies-badges/Jogando.gif" alt="" />
                            </li>
                            <li>
                                <p>Marvel</p>
                                <img src="assets/img/hobbies-badges/marvel.gif" alt="" />
                            </li>
                            <li>
                                <p>Animes</p>
                                <img src="assets/img/hobbies-badges/luffy.gif" alt="" />
                            </li>
                            <li>
                                <p>Happy Hour</p>
                                <img src="assets/img/hobbies-badges/chop.gif" alt="" />
                            </li>
                
                    </ul>
             </div>
</section>
