<article class="formacoes">
    <div class="formacao-text">
        <h1>FORMAÇÕES</h1>

    </div>
    <div class="formacao-img-text">
        <div class="formacoes-itens">
            <p>Cursando - Junho - 2024</p>
            <h1>Gestão em Tecnologia da Informação</h1>
            <img src="assets/img/formacao/unip.png" alt="">
        </div>
        <div class="formacoes-itens">
            <p>HTML, CSS, JavaScrip, Desenvolvimento Pessoal - Cursando</p>
            <h1>Alura + Oracle ONE</h1>
            <img src="assets/img/formacao/aluraoracle.png" alt="">
        </div>
        <div class="formacoes-itens">
            <p>Desenvolvedor Completo - HCODE - 2023~2024</p>
            <h1>Udemy</h1>
            <img src="assets/img/formacao/udemy.png" alt="">
        </div>
        <div class="formacoes-itens">
            <p>HTML, CSS, JavaScrip, Angula, Node, TypeScript, Git e Github - 2023 ~2024</p>
            <h1>Digital Innovarion One</h1>
            <img src="assets/img/formacao//logo-dio.png" alt="">
        </div>
        <div class="formacoes-itens">
            <p>HTML, CSS e JavaScrip - 2022</p>
            <h1>Bradesco Cursos</h1>
            <img src="assets/img/formacao/fundacao-bradesco.png" alt="">
        </div>
    </div>
</article>
