<section class="projetos-experiencia">
        <div class="projeto-text">
            <h1>Experiencia & Projetos</h1>
        </div>
        <div class="projeto-item1">
                <div class="projeto-img">
                    <img src="assets/img/projetos/trekus-info.png" alt="Loja de Tecnologia">         
                </div>
                <div class="projeto-texto1">
                    <h1>Trekus Informatica</h1>
                    <span>Este foi meu primeiro site intitucional, online hospedado, uma loja de informatica com os melhores preços de Guarulhos.</span>
                    <div class="projetos-link">
                        <a href="#">Deploy</a>
                        <a href="#">Codigo</a>
                    </div>
                </div>
        </div>
        <div class="projeto-item2">
                <div class="projeto-img">
                    <img src="assets/img/projetos/alura-play.png" alt="alura-play Site de Videos de Cursos">            
                </div>
                <div class="projeto-texto2">
                    <h1>Alura Play</h1>
                    <span>Site Criado no curso de Flex Box do projeto Oracle One + Alura Latam na trilha Front-End.</span>
                    <div class="projetos-link">
                        <a href="#">Deploy</a>
                        <a href="#">Codigo</a>
                    </div>
                </div>
        </div>
        <div class="projeto-item3">
                <div class="projeto-img">
                    <img src="assets/img/projetos/pokedex.jpg" alt="Um Site pokedex">            
                </div>
                <div class="projeto-texto3">
                    <h1>Pokedex</h1>
                    <span>Site Desenvolvido no Bootcamp Front-End com Agular da  DIO.</span>
                    <div class="projetos-link">
                        <a href="#">Deploy</a>
                        <a href="#">Codigo</a>
                    </div>
                </div>
        </div>
        <div class="projeto-item4">
                <div class="projeto-img">
                    <img src="assets/img/projetos/buzz.png" alt="Jogo do quizz super heroi ou vilão">           
                </div>
                <div class="projeto-texto4">
                    <h1>BuzzFeed</h1>
                    <span>O quizz clone do site BuzzFeed foi criado seguindo o Bootcamp Front-End com Agular da DIO.</span>
                    <div class="projetos-link">
                        <a href="#">Deploy</a>
                        <a href="#">Codigo</a>
                    </div>
                </div>
        </div>
    









</section>
